[Unit]
Description=Project-2 Courses
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/project-2/
ExecStart=npm run start
Restart=on-failure

[Install]
WantedBy=multi-user.target